apiVersion: v1
kind: Service
metadata:
  name: laravelmysql
  labels:
    app: backend
  namespace: {{ git_branch }}  
spec:
  ports:
    - port: 3306
  selector:
    app: backend
    tier: mysql  
  type: ClusterIP
