apiVersion: v1
kind: Service
metadata:
  name: laravelmysql
  labels:
    app: backend
spec:
  ports:
    - port: 3306
  selector:
    app: backend
    tier: mysql  
  type: ClusterIP

---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: laravelmysql
  labels:
    app: backend
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: backend
        tier: mysql
    spec:
      containers:
      - image: mysql:5.6
        name: mysql
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: rootpassword
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: username 
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: dbname
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: password          
        ports:
        - containerPort: 3306
          name: mysql