apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: laravel
  labels:
    app: laravel
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: laravel
        tier: frontend
    spec:
      containers:
      - image: sohel2020/app:{{ tag_name }}
        name: laravel
        env:
        - name: DB_HOST
          value: laravelmysql
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: username 
        - name: DB_DATABASE
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: dbname
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: password     
        ports:
        - containerPort: 80
          name: laravel
